/* RESET CSS ___________________ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: "Poppins", serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: flex;
    justify-content: space-around;
    flex-flow: column wrap;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* RESET CSS (ending) ___________________ */

/* FONTS */



/* ROOT  */

:root {
    --color_green: #b4CA91;
    --color_pink: #EDB3C4;
    --color_green2: #613A3C;
    --color_black: #303841;
    --color_white: #ffffff;
    --color_black: #000000;

    --font_root1: "poppins", serif;
    --font_root2: "kaushan Script", serif;

}

header {
    position: relative;
    width: 100%;
    min-height: 15vh;
    background: linear-gradient(180deg, rgba(255,255,255,1) 77%, rgba(255,255,255,0.5282445741968662) 86%, rgba(255,255,255,0) 100%, rgba(255,255,255,0) 100%);
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.1);

    justify-self: center;
    justify-items: center;
    justify-content: space-around;
}

.logo_vamatcha {

    width: 70px;
    height: 70px;

    object-fit: contain;
    z-index: 100;
}

#logo_vamatcha_sidebar{
    
    position: relative;
    display: flex;

    align-self: center;
    justify-content: center;
    top: 5px;

}

.lateral_nav{
    position:fixed;
    left: 0;
    background-color: var(--color_white);
    border-radius: 0px 10px 10px 0;
    width: 50px;
    height: 80vh;
    display: flex;
    flex-flow: column wrap;
    box-shadow: 2px 2px 2px 2px  rgba(0, 0, 0, 0.238);

    z-index: 100;
}

.lateral_nav_list{

    position: sticky;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    max-width: 100%;

    writing-mode:vertical-lr;
    flex:1;

    z-index: 100;


    transform:rotate(180deg);
    
    align-items:center;


    text-decoration: none;
    font-size: calc(0,8vw + 10px);
    color:var(--color_green);
    position: relative;
    transition: color 0.3s ease;
    height: auto;

    hr{
        width:1000%;
    }
}

#shopping_bag_logo{
    width: 30px;
    height: auto;
}


#header>nav>li,a {
    text-decoration: none;
    font-size: calc(0,8vw + 10px);
    color:var(--color_green);
    position: relative;
    transition: color 0.3s ease;
    height: auto;
    
}


nav ul li a:hover {
    color:var(--color_green2);
    font-weight: bold;
    
}

.footer_nav ul li a::after {
    content: "";
    display: flex;
    height: 2px;
    background-color:var(--color_pink);
    width: 0;
    transition: width 0.3s ease;
    
}

nav ul li a:hover::after {
    max-width: 100%;
}

body,main{
    z-index: -10;

    height: 100%;
    max-width: 100%;

    overflow-x: hidden;
}

#green_powder{
    position: absolute;
    top: 0;
    object-fit:cover;

    width: 100%;
    height: 100%;

    z-index: -50;
}

footer{
    position: absolute;
    bottom: 0;

    background: linear-gradient(180deg,(--color_white)0.5,rgba(255, 255, 255, 0.2) 1);
    
    z-index: 10;
    max-width: 100%;
    max-height: 100vh;
   
    width: 100vw;
    display: flex;
}


#logo_vamatcha_footer{
    position: absolute;
    left: 90vw;
    bottom: -88px;
}

.footer_nav{
    position: relative;
    top: 75px;
    width: 60%;
    height: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    align-self: center;

    text-align: center;

    flex:1;

    
}

#footer_central_block{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#thx_footer{
    background-color: #E0CAA5;
    width:200%;
    height:100px;
}

.footer_nav>ul a{

    width: 100%;
    height: 100%;

    flex: 1;

    display: flex;
    align-self: center;

}

.footer_list{
    display: flex;

    flex: 1;

    flex-flow: wrap column;
    align-items: center;

    
}


