:root {
    --color_green: #b4CA91;
    --color_pink: #EDB3C4;
    --color_green2: #613A3C;
    --color_black: #303841;
    --color_white: #ffffff;
    --color_black: #000000;
    --font_root1: "poppins", serif;
    --font_root2: "kaushan Script", serif;

}

body{
    margin: 0;
    padding: 0;
    font-family: var(--font_root1);
    font-size: 12px;
}

/* HEADER */

.header{
    display: flex;
    flex-flow: nowrap row;
    align-items: center;
    justify-content: space-between;
    margin:0 2% ;
}

.header-logo{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    max-width: 80px;
}

.header-logo-search{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    max-width: 30px;
}

.burger-logo{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    max-width: 30px;
}


/* INDEX */

.index-back{
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.index-glass{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin: 0 auto;

}

.index-img{
    height: 300px;
    position: relative;
    width: 100%;

}
/* .lateral_nav{
    position:fixed;
    left: 0;
    top:100px;
    background-color: var(--color_white);
    border-radius: 0px 10px 10px 0;
    width: 60px;
    display: flex;
    flex-flow: column wrap;
    box-shadow: 2px 2px 2px 2px  rgba(0, 0, 0, 0.238);

    z-index: 100;


}

.lateral_nav img{
    height: 80px;
    width: 45px
}

#lateral_nav_list{

    z-index: -1000;
    display: flex;
    flex-flow: column-reverse, wrap;
    justify-content: center;
    align-items: center;
    height: 90%;;
    writing-mode:vertical-lr;
    flex:1;
    text-decoration: none;
    font-size: calc(0,8vw + 10px);
    color:var(--color_green);
    position: relative;
    transition: color 0.3s ease;

    hr{
        width:100%;
    }   
    
}

#shopping_bag_logo{
    width: 30px;
    height: auto;
}


li,a {
    list-style-type: none;
    text-decoration: none;
    font-size: calc(0,8vw + 10px);
    color:var(--color_green);
    position: relative;
    transition: color 0.3s ease;
    
}


nav ul li a:hover {
    color:var(--color_green2);
    font-weight: bold;
    
}

nav ul li a:hover::after {
    max-width: 100%;
}


 */

 /* FOOTER */
footer {
    background-color: var(--color_green);
    color: var(--color_black);
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .footer_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer_link {
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
    gap:15px;
  }
  
  .footer_link a {
    text-decoration: none;
    color: white;
  }
  
  .footer-thanks, .footer-adress {
    margin-bottom: 15px;
  }
  
  .footer-logo {
    max-width: 100px;
    margin-top: 10px;
  }




