body{
    font-family: Arial, Helvetica, sans-serif;
}

.products {
    display: flex;
    flex-direction: column; 
    gap: 15px;
    padding: 10px;
}


.product-card {
    background-color: #fff;
    border: 1px solid #ffffff;
    border-radius: 8px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.product-image {
    width: 100%;
    height: auto;
    max-height: 450px;
    object-fit: cover;
    border-radius: 8px;
}

/* Nom du produit */
.product-name {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin: 10px 0 5px;
}

/* Prix produit */
.product-price {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 10px;
}

/* Bouton "Ajouter au panier" */
.add-to-cart {
    background-color: #27ae60;
    color: #fff;
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
}

.add-to-cart:hover {
    background-color: #219150;
}

/* Media queries : au-delà de 768px */
@media (min-width: 768px) {
    .products {
        flex-direction: row; /* Change la disposition en ligne */
        flex-wrap: wrap; /* Permet de passer à la ligne si nécessaire */
        gap: 20px; /* Espacement entre les produits en mosaïque */
    }

    .product-card {
        flex: 1 1 calc(33.33% - 20px); /* Trois colonnes sur des écrans moyens */
    }
}

/* Media queries : au-delà de 1200px */
@media (min-width: 1200px) {
    .product-card {
        flex: 1 1 calc(25% - 20px); /* Quatre colonnes sur des écrans larges */
    }
}